@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
header,
main,
footer {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}


/*Header*/

header {
    width: 100%;
}


/*Section Barra Superior*/

.barra_superior {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link_sup {
    text-decoration: none;
    color: #ffffff
}


/*barra_menu_principal*/

.barra_menu_principal {
    background-color: #F0A83E;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

.navegacion {
    display: flex;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #ffffff
}

.fal {
    font-size: 20px;
}

.pets {
    display: flex;
}


/*main*/

.brand {
    height: 410px;
    background-image: url(img/brand.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.brand-text {
    position: absolute;
    background-color: #ffffff;
    border-radius: 5px;
    width: 480px;
    height: 65px;
    padding: 10px;
    right: 12px;
    top: 156px;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #222222;
    font-size: 40px;
}

.subtitle {
    color: #3C2313;
    font-size: 22px;
    font-weight: 400;
    position: absolute;
    right: 95px;
    top: 234px;
}

.brand-button {
    color: #ffffff;
    width: 141px;
    height: 70px;
    border: 1px solid #F0A83E;
    background-color: #F0A83E;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    right: 170px;
    top: 272px;
}